.featured-book {
  margin: 0.5rem 3rem 1.4rem 0;
  width: fit-content;
}
.featured-image img {
  width: 140px;
  height: 200px;
  border-radius: 5%;
  border: none;
  transition: transform 2s ease-in-out;
}
.featured-book:hover {
  cursor: pointer;
}
.featured-image:hover {
  transform: scale(1.02);
}
@media (max-width: 768px) {
  .featured-book {
    margin: 0;
    padding: 1rem 0.5rem;
  }
}