.search-page {
  height: 100%;
  justify-content: center;
}

.hero-container {
  padding: 150px 0 50px 0;
}
.headline {
  height: 106px;
  width: auto;
  color: #222222;
  font-family: "Playfair Display";
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 53px;
  text-align: center;
}
.nyt-container h2{
  padding: 1rem;
  margin-left: 1rem;
  color: #222222;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}
.nyt-header {
  width: 100vw;
}
.nyt-header h2 {
  width: auto;
  display: inline-block;
  margin-left: 4rem;
}
.nyt-header button {
  background-color: #FFFFFF;
  padding: 0.3rem;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  display: inline-end;
  position: relative;
  float: right;
  margin-right: 4rem;
  margin-top: 2rem;
}
.nyt-results {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  margin: 0 4rem 0 4rem;
}
.search-container {
  max-width: 900px;
  margin: auto;  
}
.search-container h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}



