.savedpage {
  padding: 4rem;
}
.savedpage h2 {
  color: #222222;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}
.saved-books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}